h1{ 
    color: brown;
    background-color: cornsilk;
    margin: 15px;
    border: 10px solid red;
    padding: 15px;
    text-align: justify;
}
p{
    background: blanchedalmond;
    color: sienna;
    margin: 50px  50px 150px;
    border: 10px solid gold;
    padding: 10px;
    height: 100px;
    width: 1050px;
    text-align: justify;
}